# Archivos generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Archivos de configuración personales
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.vsp
*.vspx
*.ruleset

# Archivos de backups y logs
*.bak
*.log
*.orig
